@use '~layout' as layout;

.page {

  .page-header {

    .header-controls {
      @include layout.flex-end(false, true);

      .origin-controls {
        @include layout.flex(true);
      }

      .layer-controls {
        @include layout.flex-end(true);

        padding: 10px;

        .glyph {
          margin: 0 5px;
        }
      }
    }
  }

  .page-body {

    .page-main {
      @include layout.flex;
      @include layout.fullsize;

      overflow: hidden;
      position: relative;
    }
  }
}
