@use '~layout' as layout;
@use '~styling' as styling;

.grid {
  @include layout.flex(true, true);
  @include layout.fullsize;

  overflow: auto;

  .grid-internal {

    .grid-row {
      display: flex;

      .grid-cell {
        min-width: 16px;
        min-height: 16px;
        border: 1px solid black;

        &.active {
          background-color: black;
        }

        &.not-active {
          background-color: white;
        }
      }
    }
  }
}
