@use '~layout' as layout;
@use '~styling' as styling;

.instructions-wrapper {

  .instructions {
    @include layout.flex(false, true);
    @include layout.floating(50%, 50%);
    @include layout.centered;
    @include styling.rounded;

    padding: 20px;
    max-height: 75%;
    overflow: hidden;

    .markdown-renderer {
      @include layout.flex(false, true);

      overflow: hidden;
      padding: 10px;

      .md-body {
        overflow: auto;
      }
    }

    .no-open {
      @include layout.flex-between(true);

      padding: 10px;

      .startup {
        @include layout.flex-between(true);

        .glyph {
          margin-left: 10px;
        }
      }
    }
  }

  .toggle-instructions-btn {
    position: absolute;
    bottom: 50px;
    left: 10px;
  }
}
